.App-header{
    background-color: #9E9E9E;
    height: 76px;
    width: 100%;
    color: #fff;
    text-align: center;
}

.ms{
    list-style-type: none;
}

.downarrow{
    position: relative;
    left: -18px;
    border-left: 1px solid;
    padding-left: 3px;
    cursor: pointer;
}

.hide{
    display: none;
}

.show{
    display: block;
}

ul>li{
    margin: 0;
    padding: 2px;
    border: 1 px solid gray;
}
.loading>span{
    position: relative;
    top: 50%;
}
a:hover{
    cursor: pointer !important;
    text-decoration: underline !important;
    color: #ff9800 !important;
}

.contrl{
    margin-left: 10px;
    padding: 2px;
}

.content{
    width: 50%;
    background-color: #fff;
    margin-left: 25%;
    height: 80%;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 5px 10px #888888;
    overflow-y: auto;
}
.container-fluid{
    background-color: rgb(204, 204, 204);
    position: absolute;
    left: 0;
    right: 0;
    padding: 0!important;
    height: 100%;
}

.content .row{
    width: 100%;
    width: 100%;
    margin: 5px 0;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

.hft{
    height: fit-content
}

.notfound{    
    color: red;
}
.loading{
    background: #eee;
    background-size: 100% 100%;
    width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   display: block;
   opacity: 0.7;
   background-color: #fff;
   z-index: 200;
   text-align: center;
}

.aajZCb {
    background: #fff;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
    border: 0;
    border-radius:0 0 12px 12px;
    box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28);
    padding-bottom: 4px;
    overflow: hidden;
    top: -2px;
    position: relative;
    max-height: 200px;
    overflow-y: auto;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    margin: 0;
    padding: 0;
}
.sbct {
    padding: 0px 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    min-width: 0;
    padding: 0;
}
.suggestions-inner-container {
    flex: auto;
    display: flex;
    margin: 0 20px;
}

.sbl1 {
    display: flex;
    font-size: 16px;
    color: #212121;
    flex: auto;
    align-items: center;
    word-break: break-word;
    padding-right: 8px;
}

.pdl20{
    padding-left: 20px;
}

li:hover{
    background: #eee;
   
    border-bottom: 1px solid black;
}


ul>li>a{
    cursor: pointer;
}

@media (min-width: 576px) {  }

@media (min-width: 768px) { }

@media (min-width: 992px) {  }

@media (min-width: 1200px) { }







